@using Kendo.Mvc.UI
@using KendoStart.Models


@{
    ViewBag.Title = "title";
    //    Layout = "~/Views/Chart/_Layout";
}

<h2>Student Age</h2>


@(Html.Kendo().Chart<Student>()
      .Name("bookPriceChart")
      .DataSource(dataSource => dataSource
          .Read(read => read.Action("Student_read", "Student"))
      )
      .Series(series =>
      {
          series.Bar(d => d.Age)
              .Name("Age");
      })
      .CategoryAxis(axis => axis
          .Categories(model => model.Name)
      )
      .Events(e => e
     .DataBound("students_databound")
     .SeriesClick("books_seriesClick"))

)


<script>
    function students_databound() {
        alert('students data were bounded');
    }


    function books_seriesClick() {
        alert('you click on the series');
    }
</script>